NODE_ENV=
LOG_LEVEL=
PORT=
HOST=
API_PREFIX=
CLIENT_ORIGIN=

DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=1h
UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=10

QDRANT_URL=
QDRANT_API_KEY=

LLM_PROVIDER=

GROQ_MODEL=groq/compound-mini
GEMINI_API_KEY=
GROQ_API_KEY=


SUPABASE_STORAGE_BUCKET_NAME=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=